<div class="alert alert-danger alert-dismissible" role="alert" ng-if="notes.error">
  <button type="button" class="close" data-dismiss="alert" ng-click="notes.clearError()">
    <span aria-hidden="true">&times</span> 
  </button> 
  <span ng-bind="notes.error"></span>
</div>
<div>
  <form role="form" name="noteForm" ng-submit="notes.addNote(noteForm.$valid)" novalidate>
    <div class="form-group">
      <textarea class="form-control qn-bg notearea"
                rows="20"
                autofocus="autofocus"
                name="note"
                ng-model="notes.data.note"
                ng-required="true"></textarea>
    </div>
    <div class="form-inline row">
      <div class="form-group col-md-4 text-center">
        <label>Title:</label>
        <input type="text" class="form-control qn-bg" placeholder="Untitled" ng-model="notes.data.title">
      </div>
      <div class="form-group col-md-4">
        <button type="submit" class="btn btn-primary center-block" ng-disabled="noteForm.$invalid">
          <span ng-show="notes.loading">Loading...</span>
          <span ng-hide="notes.loading">Submit</span>
        </button>
      </div>
      <div class="form-group col-md-4">
        <label>Visibility:</label>
        <select class="form-group form-control qn-bg"
                ng-init="notes.data.visibility = 'Public'"
                ng-model="notes.data.visibility">
          <option>Public</option>
          <option>Unlisted</option>
          <option ng-show="vm.isLoggedIn()">Private</option>
          <option disabled ng-hide="vm.isLoggedIn()">Private (Users only)</option>
        </select>
      </div>
    </div>
  </form>
</div>