<div class="alert alert-danger alert-dismissible" role="alert" ng-if="vm.error">
  <button type="button" class="close" data-dismiss="alert" ng-click="vm.clearError()">
    <span aria-hidden="true">&times</span> 
  </button> 
  <span ng-bind="vm.error"></span>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Login</h1><br/>
    <form role="form" name="loginForm" ng-submit="vm.login(loginForm.$valid)" novalidate>
      <div class="form-group">
        <label>Username</label>
        <input type="text"
               class="form-control"
               autofocus="autofocus"
               autocomplete="off"
               name="username"
               ng-model="vm.data.username"
               ng-maxlength="29"
               ng-required="true">
      </div>
      <div class="form-group">
        <label>Password</label>
        <input type="password"
               class="form-control"
               autocomplete="off"
               name="confirmPassword"
               ng-model="vm.data.password"
               ng-required="true">
      </div>
      <div class="form-group">
        <div class="checkbox">
          <label>
            <input type="checkbox" name="remember">Keep me logged in
          </label>
      </div><br>
      <div class="form-group">
        <input type="submit"
               class="btn btn-primary center-block"
               value="Login"
               ng-disabled="loginForm.$invalid">
      </div>
    </form>
    <hr>
    <div class="text-center">
      <p class="text-muted">Don't have an account? <a href="/signup">Sign up</a></p>
    </div>
  </div>
</div>