<div class="alert alert-danger alert-dismissible" role="alert" ng-if="vm.error">
  <button type="button" class="close" data-dismiss="alert" ng-click="vm.clearError()">
    <span aria-hidden="true">&times</span> 
  </button> 
  <span ng-bind="vm.error"></span>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="text-center">Create an Account</h1><br/>
    <form role="form" name="signupForm" ng-submit="vm.signup(signupForm.$valid)" novalidate>
      <div class="form-group">
        <label>Your Username</label>
        <input type="text"
               class="form-control"
               autofocus="autofocus"
               autocomplete="off"
               name="username"
               ng-model="vm.data.username"
               ng-maxlength="29"
               nonspecial
               avaliable 
               ng-required="true">
        <span class="text-danger" ng-show="signupForm.username.$error.maxlength">Username cannot be more than 29 characters.</span>
        <span class="text-danger" ng-show="signupForm.username.$error.nonspecial">Username can only have letters or numbers.</span>
        <span class="text-danger" ng-show="signupForm.username.$error.avaliable">This username is already taken!</span>
        <span class="text-success" ng-hide="signupForm.username.$error.avaliable || !vm.data.username">This username is avaliable!</span>
      </div>
      <div class="form-group">
        <label>Choose a password</label>
        <input type="password"
               class="form-control"
               autocomplete="off"
               name="password"
               ng-model="vm.data.password"
               ng-required="true">
      </div>
      <div class="form-group">
        <label>Confirm your password</label>
        <input type="password"
               class="form-control"
               autocomplete="off"
               name="confirmPassword"
               ng-model="vm.data.confirmPassword"
               ng-required="true">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary center-block" ng-disabled="signupForm.$invalid">
          <span ng-show="vm.loading">Loading...</span>
          <span ng-hide="vm.loading">Create account</span>
        </button>
      </div>
    </form>
    <hr>
    <div class="text-center">
      <p class="text-muted">Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</div>